<div class="champ-content">
  <ng-container *ngIf="dataLoaded | async">
    <div class="champ-filter">
      <p>
        There are currently {{ amountOfChampions }} champions in League of
        Legends
      </p>
      <mat-form-field appearance="outline">
        <mat-label>Champion Name</mat-label>
        <input matInput [formControl]="championName" />
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearChampionName()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="champions">
      <ng-container *ngFor="let champ of workingData">
        <figure class="icon">
          <a routerLink="/champions/detail/{{ champ.name }}">
            <img
              src="{{ getChampionIconUrl(champ.id) }}"
              alt="{{ champ.name }} icon"
            />
          </a>
          <figcaption>{{ champ.name }}</figcaption>
        </figure>
      </ng-container>
    </div>
  </ng-container>
</div>
