@import "src/styles";
.chart-number {
  font-size: 0.5em;
}

.chart{
  width: $icon-size * 2;
  height: $icon-size * 2;
}

.player-stats {
  display: flex;
  .stats {
    vertical-align: middle;
  }
}