.champ-abilities {
  img {
    display: block;
    margin-bottom: 1em;
  }
}

.champ-info {
  display: flex;
  gap: 2em;
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.5em;
  }
}

.icon {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 50%;
}

.champ-info{
  h1 {
    margin-bottom: 0.25em;
  }
}

.champ-skins {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2em;
}
