<ng-container *ngIf="dataLoaded | async">
  <div>
    <div>
      <img src="{{getChampionIconUrl()}}" alt="{{champion.name}} icon">
      <h1>{{champion.name}}</h1>
      <p>{{getChampionTitle()}}</p>
    </div>
    <hr/>
    <div class="champ-spells">
      <div class="icon">
        <img src="{{getPassiveIconUrl()}}" alt="{{champion.name}} passive icon">
        <span>P - {{champion.passive.name}}</span>
      </div>
      <ng-container *ngFor="let spell of champion.spells; let i = index">
        <div class="icon">
        <img src="{{getSpellIconURL(i)}}" alt="{{champion.name}}{{getSpellKey(i)}} icon">
          <span>{{getSpellKey(i)}} - {{spell.name}}</span>
        </div>
      </ng-container>
      <hr/>
    </div>
  </div>
</ng-container>
